@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.08% 0.004 285.82);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(14.08% 0.004 285.82);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(14.08% 0.004 285.82);
  --color-primary: oklch(20.47% 0.006 285.88);
  --color-primary-foreground: oklch(98.51% 0.001 106.42);
  --color-secondary: oklch(96.76% 0.001 286.38);
  --color-secondary-foreground: oklch(20.47% 0.006 285.88);
  --color-muted: oklch(96.76% 0.001 286.38);
  --color-muted-foreground: oklch(55.19% 0.014 285.94);
  --color-accent: oklch(96.76% 0.001 286.38);
  --color-accent-foreground: oklch(20.47% 0.006 285.88);
  --color-destructive: oklch(57.71% 0.215 27.33);
  --color-destructive-foreground: oklch(98.51% 0.001 106.42);
  --color-border: oklch(91.97% 0.004 286.32);
  --color-input: oklch(91.97% 0.004 286.32);
  --color-ring: oklch(14.08% 0.004 285.82);

  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

.dark {
  --color-background: oklch(14.08% 0.004 285.82);
  --color-foreground: oklch(98.51% 0.001 106.42);
  --color-card: oklch(14.08% 0.004 285.82);
  --color-card-foreground: oklch(98.51% 0.001 106.42);
  --color-popover: oklch(14.08% 0.004 285.82);
  --color-popover-foreground: oklch(98.51% 0.001 106.42);
  --color-primary: oklch(98.51% 0.001 106.42);
  --color-primary-foreground: oklch(20.47% 0.006 285.88);
  --color-secondary: oklch(26.98% 0.006 286.03);
  --color-secondary-foreground: oklch(98.51% 0.001 106.42);
  --color-muted: oklch(26.98% 0.006 286.03);
  --color-muted-foreground: oklch(70.67% 0.01 286.07);
  --color-accent: oklch(26.98% 0.006 286.03);
  --color-accent-foreground: oklch(98.51% 0.001 106.42);
  --color-destructive: oklch(57.71% 0.215 27.33);
  --color-destructive-foreground: oklch(98.51% 0.001 106.42);
  --color-border: oklch(26.98% 0.006 286.03);
  --color-input: oklch(26.98% 0.006 286.03);
  --color-ring: oklch(83.15% 0.006 286.03);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
